<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <setting key="MySQL:UseConvars">false</setting>
  <setting key="MySQL:Server">localhost</setting>
  <setting key="MySQL:Port">3306</setting>
  <setting key="MySQL:Database">ChangeMe</setting>
  <setting key="MySQL:Username">ChangeME</setting>
  <setting key="MySQL:Password">ChangeMe</setting>
  <setting key="MySQL:Debug">false</setting>
</configuration>
